
@font-face {
      font-family: 'Roboto Condensed';
      src: url(Roboto_Condensed-Regular.ttf) format('truetype');
    }
body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color:rgb(100, 100, 100);
    padding-left:5%;
    padding-right:5%;
    box-sizing: border-box;
    font-size:1.2em;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color:gold;
    transition:color 0.1s;
    text-shadow:
        0 0 10px gold,
        0 0 20px gold,
        0 0 30px gold,
        0 0 40px gold;
}
/*Home-page*/
.logo{
    display:block;
    width:130px;
    height:auto;
}
.company-name{
    text-align:center;
    font-size: 3em;
}
.image1{
    display:block;
    padding:5%;
    width:100%;
    height:auto;
    margin:0 auto;
    box-sizing: border-box;
}
.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color: blue;
}
.nav_links{
    list-style:none;
    display:flex;
    gap: 40px;
    color: white;
    padding-right: 1em;
    cursor: pointer;
}
.content{
    background-clip: content-box;
    background-color: rgb(160, 160, 160);
    border-radius: 10px;
}
.textblock{
    text-align:center;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}
/*product-page*/
.image2{
    display:block;
    padding-left:5%;
    padding-right:5%;
    width:100%;
    height:auto;
    margin:0 auto;
    box-sizing: border-box;
}
.products{
    display:flex;
    justify-content: space-between;
    gap:20px;
    padding: 20px;
    box-sizing: border-box;
}
.box{
    flex: 1;
    background-color: rgb(200, 200, 200);
    padding:20px;
    box-sizing: border-box;
    border-radius:10px;
}
.img-box{
    max-width: 100%;
    display: block;
    margin:0 auto;
    box-sizing: border-box;
}
.product-textblock{
    text-align:left;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}
/*contact-page*/
.contact-h2{
    text-align: left;
    padding-left: 1em;
}
.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 5%;
}
.map{
    display: block;
    padding: 5%;
    max-width: 1000px;
    width:80%;
    height:auto;
    margin:0 auto;
    box-sizing: border-box;
}